@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/Site.css")


    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Content/Images/1.jpg" alt="pepe" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Pepe</h3>
                        <p>some txt</p>
                    </div>
                </div>

                <div class="item">
                    <img src="~/Content/Images/2.jpeg" alt="cat" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Cat</h3>
                        <p>some txt</p>
                    </div>
                </div>

                <div class="item">
                    <img src="~/Content/Images/3.jpg" alt="dog" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>dog</h3>
                        <p>some txt</p>
                    </div>
                </div>

                <div class="item">
                    <img src="~/Content/Images/4.jpg" alt="sunset" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>SS</h3>
                        <p>some txt</p>
                    </div>
                </div>

                <div class="item">
                    <img src="~/Content/Images/5.jpg" alt="duck" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Duck</h3>
                        <p>some txt</p>
                    </div>
                </div>

                
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

